@media(prefers-color-scheme: dark) {
    :root{
        --primary-background: #151437;
        --primary-text-color: #FFFFFF;
    }

    body{
        background: var(--primary-background);
    }
    .header__nav-logo{
        content: url('../images/logo\ dark.png');
    }
    .header__content-text , .header__toggler-icon , .main__about-description{
        color: var(--primary-text-color);
    }
    .main__about-text{
        background:#7177F1;
        color: var(--primary-text-color);
    }
    .main__about-content{
        background: var(--primary-background);
    }
    .accordion-button.collapsed{
        background: var(--primary-background) !important;
    }
    .accordion-item{
        border: none;
        background-color: var(--primary-background) !important;
    }
    .main__works-link{
        background: var(--primary-background);
    }
    .main__works-content{
        background: var(--primary-background);
    }
    .main__works-link.active{
        color: var(--primary-background);
    }
    .main__works-text{
        color: var(--primary-text-color);
    }
}
@media(max-width:992px){
    .rectangle , .shape{
        display: none;
    }
    .header__nav-link , .header__nav-btn{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .main__about-img{
        width: 100%;
    }
    .main__about-content{
        margin-top: 30px;
    }
    .main__about-text{
        padding: 20px;
        left: 100px;
        top: -15px;
    }
    .accordion{
        margin-bottom: 35px;
    }
    .main__works-content{
        margin-top: 30px;
    }
}
@media(max-width:375px){
    .header__skills-title{
        font-size: 16px;
    }
    .header__content-title{
        text-align: center;
        font-size: 35px;
        line-height: 45px;
    }
    .main__about-title{
        line-height: 45px;
    }
    .main__about-link{
        margin: 0 auto;
    }
}
@media(max-width:768px){
    .main__works-img{
        object-fit: contain;
    }
    .main__works-name{
        margin-top: 20px;
    }
}