@import 'fonts.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

:root{
    --primary-color:#7177F1;
    --secondary-color:#FFFFFF;
    --black:#323232;
    --MB: 'Montserrat-Black';
    --MBol:'Montserrat-BoldItalic';
    --MR:'Montserrat-Regular';
    --MS: 'Montserrat-SemiBold';
}

body{
    background: #E5E5E5;
}


/* HEADER START */
.header__nav-logo::before{
    content: url('../images/logo\ light.png');
}

.header__nav-link{
    display: inline-block;
    color: var(--primary-color);
    font-size: 24px;
    line-height: 16px;
    font-family: var(--MR);
    text-transform: capitalize;
    margin-right: 30px;
}

.header__nav-btn{
    display: inline-block;
    color: var(--secondary-color);
    background: var(--primary-color);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    padding: 10px 43px;
    font-size: 24px;
    line-height: 16px;
    text-transform: capitalize;
    margin-right: 58px;
    font-family: var(--MR);
}

.header__nav-icon::before{
    content: '\f87b';
}
.header__nav-icon{
    font-size: 25px;
    color: var(--primary-color);
}
.header__nav-link:hover , .header__nav-icon:hover{
    color: var(--primary-color);
}
.header__nav-btn:hover{
    color: var(--secondary-color);
}

.header__content-html::before{
    content: '\f13b';
}

.header__content-css::before{
    content: '\f38b';
}

.header__content-bootstrap::before{
    content: '\f836';
}

.header__content-html{
    font-size: 77px;
   color: #E44F26;
}
.header__content-css{
    font-size: 77px;
   color:  #1572B6;
}
.header__content-bootstrap{
    font-size: 77px;
    color: #790FF1;;
}

.header__content-text{
    color: var(--black);
    text-transform: capitalize;
    font-size: 24px;
    line-height: 22px;
    font-family: var(--MS);
    margin-bottom: 10px;
}

.header__content{
    margin-top: 30px;
}

.header__content-title{
    color: #7177F1;
    font-size: 40px;
    line-height: 50px;
    max-width: 520px;
    width: 100%;
    margin-bottom: 25px;
    font-family: var(--MS);
    text-transform: capitalize;

}
.header__content-link{
    color: var(--secondary-color);
    text-transform: capitalize;
    justify-content: center;
    display: flex;
    line-height: 23px;
    font-size: 18px;
    font-family: var(--MR);
    background: var(--primary-color);
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    max-width: 299px;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    margin: 0 auto;
}
.header__content-skills{
    margin-top: 50px;
}
.header__content-link:hover{
    color: var(--secondary-color);
}
.header__skills-title{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-family: var(--MB);
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background: #828282;
}
.carousel-indicators [data-bs-target].active{
    background:  var(--primary-color);
}
.carousel-indicators{
    bottom: -50px;
}
.carousel-indicators [data-bs-target]:nth-of-type(1){
    margin-right: 30px;
}
.rectangle{
    position: absolute;
    border-width: 5px;
    border-style: solid;
    z-index: -2;
}
.rectangle_1{
    border-color: #790FF1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: -45px;
    left: -55px;
}
.rectangle_2{
    border-color: #9297EF;
    width: 80px;
    height: 80px;
    top: 50px;
    transform: matrix(0.71, 0.71, -0.7, 0.71, 0, 0);
    left: -275px;
}
.rectangle_3{
    border-color: #9297EF;
    width: 98px;
    height: 98px;
    top: 0;
    right: -166px;
}
.rectangle_4{
    border-color: #7177F1;
    width: 80px;
    height: 80px;
    transform: matrix(0.76, -0.66, 0.64, 0.76, 0, 0);
    top: 300px;
    right: 15px;
}

.carousel-inner{
    overflow: visible;
}
.rectangle_5{
    border-color: #790FF1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: 40%;
    left: 220px;
}
.rectangle_6{
    border-color: #9297EF;
    width: 80px;
    height: 80px;
    transform: matrix(0.71, 0.71, -0.7, 0.71, 0, 0);
    top: 40%;
}
.rectangle_7{
    border-color: #790FF1;
    width: 98px;
    height: 98px;
    transform: matrix(-0.36, 0.93, 0.93, 0.36, 0, 0);
    top: -80px;
    right: 285px;
}
.header__toggler-icon::before{
    content: '\f0c9';
}
.header__toggler-icon{
    font-size: 25px;
}
.header__toggler{
    box-shadow: none;
}

/* HEADER END */


/* MAIN START */
.main__about{
    margin-top: 70px;
}
.main__about-text{
    color: var(--black);
    background: var(--secondary-color);
    padding: 24px 30px 23px 20px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 100%;
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    font-family: var(--MR);
    top: 24px;
    left: -100px;
}
.main__about-span{
    background:#0FDAC2;
    color: var(--secondary-color);
    padding: 11px 9px;
    font-size: 18px;
    line-height: 100%;
    font-family: var(--MBol);
    border-radius: 50%;
    top: -15px;
    right: -15px;
}
.main__about-content{
    background: var(--secondary-color);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 30px 30px 105px 30px;
}
.main__about-title{
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 25px;
    font-family: var(--MS);
}
.main__about-description{
    text-transform: capitalize;
    color: var(--black);
    font-size: 18px;
    line-height: 150%;
    font-family: var(--MR);
    margin-bottom: 20px;
}
.main__about-link{
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    background: var(--primary-color);
    padding: 14px 32px;
    max-width: 190px;
    width: 100%;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    font-size: 18px;
    line-height: 100%;
    font-family: var(--MR);
    justify-content: center;
    margin-left: 80px;
}
.main__about-link:hover{
    color: #FFFFFF;
}
.shape{
    position: absolute;
    z-index: -1;
}
.shape1{
    right: 0;
    top: -500px;
}
.rectangle_8{
    border-color: #9297EF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 114px;
    bottom: -75px;
}
.capabilities{
    margin-top: 75px;
}
.capabilities__title{
    color: var(--primary-color);
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 49px;
    font-family: var(--MS);
    margin-bottom: 30px;
}
.accordion{
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px 8px 0px 0px;
    margin-top: 70px;
}
.accordion__html::before{
    content: '\f13b';
}
.accordion__html{
    font-size: 30px;
    margin-right: 20px;
}
.accordion-button{
    border: none !important;
    outline: none;
    box-shadow: none !important;
    background: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}
.accordion-button.collapsed{
    background: var(--secondary-color) !important;
    color: var(--primary-color) !important;
}
.accordion__info{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    font-family: var(--MB);
}
.accordion-button.collapsed .accordion__html{
    color: #E44F26;
}
.accordion-body{
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 18px;
    text-transform: capitalize;
    line-height: 27px;
    font-family: var(--MR);
}
.accordion-button::after{
    display: none;
}
.accordion-arrow::before{
    content: '\f0de';
    font-size: 25px;
}
.accordion-arrow{
    font-size: 25px;
    height: 1.25rem;
    width: 1.25rem;
}
.accordion-button .accordion-arrow{
    transform: rotate(180deg);
    transition: 0.5s;
}
.accordion-button.collapsed .accordion-arrow{
    transform: rotate(0deg);
}
.accordion__css::before{
    content: '\f38b';
}
.accordion-button.collapsed .accordion__css{
    color: #1572B6;
}
.accordion__css{
    font-size: 30px;
    margin-right: 20px;
}
.accordion__bootstrap::before{
    content: '\f836';
}
.accordion-button.collapsed .accordion__bootstrap{
    color: #7177F1;;
}
.accordion__bootstrap{
    font-size: 30px;
    margin-right: 20px;
}
.rectangle_9{
    border-color: #9297EF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 100px;
    left: 330px;
}
.main__works{
    margin-top: 75px;
}
.main__works-title{
    color: var(--primary-color);
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 49px;
    font-family: var(--MS);
    margin-bottom: 30px;
}
.main__works-link{
    display: flex;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
    background: var(--secondary-color);
    padding: 19px 0 19px 20px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 22px;
    font-family: var(--MS);
}
.main__works-link:hover{
    color: var(--primary-color);
}
.main__works-item:first-child .main__works-link{
    border-radius: 8px 8px 0px 0px;
}
.main__works-item:last-child .main__works-link{
    border-radius: 0px 0px 8px 8px;
}
.nav{
    margin-bottom: 80px;
}
.main__works-link.active{
    background: var(--primary-color);
    color: var(--secondary-color);
}
.main__works-content{
    background: var(--secondary-color);
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    border-radius: 8px;
    padding: 20px 30px 20px 20px;
    min-height: 360px;
}
.main__works-img{
    display: block;
    width: 100%;
    max-height: 320px;
    height: 100%;
}

.main__works-name{
    color: var(--primary-color);
    font-size: 24px;
    line-height: 29px;
    font-family: var(--MS);
    text-transform: capitalize;
    margin-bottom: 25px;
}
.main__works-text{
    color: var(--black);
    text-transform: capitalize;
    font-size: 18px;
    font-family: var(--MR);
    line-height: 27px;
    margin-bottom: 20px;
}
.main__work-btn{
    display: flex;
    background: var(--primary-color);
    max-width: 190px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-family:var(--MS);
    color: var(--secondary-color);
    text-align: center;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    border-radius: 8px;
    padding: 12px 62px;
    margin-left: 30px;
    text-transform: capitalize;
}
.main__work-btn:hover{
    color: var(--secondary-color);
}
.shape_2{
    top: -260px;
    left: 0;
}
.rectangle_10{
    border-color: var(--primary-color);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    left: 80px;
    bottom: 200px;
}
.rectangle_11{
    border-color: #790FF1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 53%;
    bottom: -15px;
}
.rectangle_12{
    border-color: #7177F1;
    width: 98px;
    height: 98px;
    right: 90px;
    transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
    bottom: 110px;

}

/* MAIN END */